/* Contenedor de lista de tareas */

/*#containerTasks {
    position: relative;*/
    /*height: 100vh;
    width: 100vw;*/
    /*height:auto;
    width:auto;
    overflow: auto;*/
    /*z-index: 999;*/
/*}*/


/* Contenedor */

#allTasks {
    position: relative;
    /*top: 0vh;*/
    /*min-height: 77vh;*/
    min-height: calc(100vh - 200px);
    min-width: calc(100vw);
    overflow-y: scroll;
    overflow-x: scroll;
}

/* Card de tarea */

.cardDraggableItem {
    position: absolute;
    border-color: darkgray;    
}

.descLabel {
    width: 100%;
    font-size: 13pt;
    white-space: break-spaces;
    background-color: transparent;
    border: none;
}

.titleLabel {
    margin-top: 10px;
    width: 100%;
    font-weight: bold;
    font-size: 13pt;
    white-space: break-spaces;
    background-color: transparent;
    border: none;
}

.deleteTaskCls {
    border: none;
    border-radius: 50%;
    background-color: whitesmoke;
}

.btnBarTask {
    display: flex;
    justify-content: space-between;
}

.btnAddTask, .btnChangeMode {
    /*background-color: #674767;*/
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 80%;
    width: 60px;
    margin-left: 50px;
    height: 60px;
    font-size: 2em;
}

#changeModeImg {
    width: 50px;
}

.sectionBtn {
    padding-right: 50px;
    display: flex;
    place-content: space-between;
}

/* Circulo de color */
.colorTask {
    outline: none;
    border-radius: 50%;
    outline: none;
    width: 20px;
    padding-bottom: 20px;
    -webkit-appearance: none;
}

.colorTask::-webkit-color-swatch {
    border: none;
    padding-bottom: 20px;
    border-radius: 50%;    
}


/* Cajas de texto */
.textBoxDraggableItem {
    font-size: 2rem;
    white-space: break-spaces;
    background-color: transparent;
    border: none;
}

.textBoxDivDraggableItem {    
    position: absolute;
    background-color: transparent;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
}

.btnBarTxtBox {
    display: flex;
    justify-content: space-evenly;    
}

.deleteTxtBoxCls {
    border: none;
    border-radius: 50%;
    background-color: whitesmoke;
}

/* Scroll estilo */
#allTasks::-webkit-scrollbar {
    width: 10px;
}

/*::-webkit-scrollbar-track {*/ 
    /*fondo de la barra*/
    /*background-color: white;
}*/

#allTasks::-webkit-scrollbar-track {
    border-radius: 40px;
    background-color: transparent;
}

#allTasks::-webkit-scrollbar-thumb {
    border-radius: 40px;
    background-color: #6C696C;
    scrollbar-color: #000 #fff;
}

#alertDiv {
    min-width: 100%;
    min-height: 40px;
    display: flex;
    z-index: 9999;
    position: absolute;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 16px;
    background-color: #a8fdab;
    justify-content: center;
}

    #alertDiv.error {
        background-color: #f78989; /* rojo para error */
    }

.emojiInput {
    text-align: center;
    background-color: #EEFFB3;
    border: none;
}


textarea::-webkit-scrollbar {
    width: 12px; /* ancho del scroll */
}

textarea::-webkit-scrollbar-track {
    background-color: transparent; /* color del fondo del scroll */
}

textarea::-webkit-scrollbar-thumb {
    background-color: #aaa; /* color del "pulgón" */
    border-radius: 10px;
    border: 2px solid #eaffb5; /* bordes para integrarse mejor */
}
