html {
    font-size: 14px;
    margin: 0;
    padding: 0;
    /*min-width: 100%;
  width: 100%;
  min-height: 100%;*/

    position: relative;
}

body {
    margin-bottom: 60px;
    font-family: 'Lucida Bright', sans-serif;
    margin: 0;
    padding: 0;
}

.containerInicial {
    /*width: 100% !important;*/
    /*height: 100% !important;*/
    min-height: calc(100vh - 80px);        
    margin: 0% !important;

}

/*.container {
    width: 100%!important;
    height: 100%!important;
    padding: 0%!important;
    margin: 0%!important;
}*/


@media (min-width: 768px) {
    html {
    font-size: 16px;
  }
}


header {
    min-height: 40px;
}

.footer {
    /*position:static;*/
    min-height: 40px;
    display: flex;
    text-align: center;
}

#iconNavBar {
    width: 30px;
    height: 30px;
    border-radius: 60%;
}

#loaderOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.7); /* fondo blanco semitransparente */
    display: none; /* oculto por defecto */
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#loaderImage {
    width: 80px;
    height: 80px;
    animation: spinImg 1s linear infinite; /*animacion de girar*/
}

/* girar el loader (gira la imagen) */
@keyframes spinImg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
