@{
    ViewData["Title"] = "Home";
}

<link rel="stylesheet" href="~/css/home.css" />

<div class="col-md-12 sectionBtn">
    <button class="btnAddTask" id="addTask">+</button>
    <button class="btnAddTask" id="addTextBox">T</button>
    <button class="btnChangeMode" id="changeMode"><img id="changeModeImg" src="Images/HomeWorkBoard_Day.png" /></button>
</div>


<div id="allTasks">
    @*aqui van los div dinamicos*@
</div>

<div id="alertDiv"  style="display:none;">
    @* Aqui va el texto como: guardado correctamente *@
</div>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>



<script src="~/js/Home.js"></script>