@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home.css" />

<button class="btnAddTask" id="addTask">+</button>

<div id="allTasks">
    @*aqui van los div dinamicos*@
</div>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>



<script src="~/js/Home.js"></script>